<div class="panel panel-primary">
    <div class="panel-heading">
        About
    </div>
    <div class="panel-body">
        <p>This flicker app was conceived by <a href="http://laughtears.com">Gerry Fialka</a>
        and implemented by <a href="http://josephweidinger.com">Joseph Weidinger.</a></p>
        <p>The app makes use of these technologies:</p>
        <ul>
          <li>HTML / CSS / Javascript</li>
          <li><a href="https://angular.io/">Angular2</a> and <a href="https://www.typescriptlang.org/">TypeScript</a></li>
          <li><a href="p5js.org">P5js</a></li>
        </ul>
    </div>
</div>