<div>
    <nav class='navbar navbar-default'>
        <div class='container-fluid'>
            <a class='navbar-brand'>{{pageTitle}}</a>
            <ul class='nav navbar-nav'>
                <li><a [routerLink]="['/welcome']">Welcome</a></li>
                <li><a [routerLink]="['/flicker']">FlickerApp</a></li>
                <li><a [routerLink]="['/about']">About</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class='container'>
    <div class='row'>
        <div class='col-md-4'>
            <router-outlet></router-outlet>
        </div>
        <div class='col-md-8'>
            <div id="canvas">
                <fileDroppa
                    [url]="'https://quiet-escarpment-61251.herokuapp.com/upload'"
                    [autoUpload]="false"
                    [showFilesList]="true"
                    [beforeRequest]="beforeRequest"
                    [beforeFileUpload]="beforeFileUpload"
                    [beforeAddFile]="beforeAddFile"
                    (filesUpdated)="filesUpdated($event)"
                    (fileUploaded)="fileUploaded($event)"
               >
               <!--<h1>-->
                    <!--You can pass anything you want here-->
                    <!--You can set you own file list here-->
               <!--</h1>-->
               </fileDroppa>
            </div>
        </div>
    </div>
</div>
  