<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <h3>FlickerApp</h3>
        <p>This app allows you to play around with flicker-style experimental film
            making by allowing you specify the number of frames in each 'flick' and
            the color that they have.</p>
        <p>If you have Photosensitive Epilepsy, now is your chance to turn back. Don't 
            'Proceed!'</p>

        <button [routerLink]="['/flicker']">Proceed</button>

    </div>
</div>